@font-face {
   font-family: 'AmoretSans';
   font-display: swap;
   src: url('file:///Users/yehorhavryliuk/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-03-31_212125/fonts/AmoretSans/font.ttf');
}
